<div class="side_header">
  <div class="user_name">
    <a href="#">ゆな</a>
  </div>
  <div class="create_room">
    <a href="#">Chatを作成する</a>
  </div>
</div>
<div class="rooms">

  <div class="room">
    <a href="#">techroom1</a>
  </div>
  
  <div class="room">
    <a href="#">techroom1</a>
  </div>

</div>